
html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:#e3aec6;
  }

  header a{ /*texto dentro de la primer seccion*/
    padding-left: 5px;
    font-family: 'roboto', sans-serif;
    color: #ffffff;;
    }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.producto, .producto-abajo {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    border: 1px solid #cd9cb2;
    padding: 10px;
    box-sizing: border-box;
    
}

.producto img, .producto-abajo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.descripcion h2 {
    margin-top: 0;
}

.descripcion p {
    margin-bottom: 5px;
}